.container {
  background: #FFFFFF;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.container header {
  padding: 27px 37px;
  background: #7695EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header button {
  align-self: auto;
  margin: 0;
}

.content {
  padding: 24px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  height: calc(100% - 80px);
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-button {
  display: none;
}

.content::-webkit-scrollbar-thumb {
  background-color: #7695EC; 
}

.container form {
  padding: 24px;
  border: 1px solid #999999;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.post-content p {
  font-size: 18px;
  line-height: 21px;
  word-wrap: break-word;
}

.post-enter {
  opacity: 0;
  transform: translateY(20px);
}

.post-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
